@import "../../00-Common/styles/sass/variables";
@import "../../00-Common/styles/sass/mixins";

.mainSkill {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 40px ;
    align-items: stretch;
    .columnTree {
      width: 100%;
      padding: 0;

      .tree {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
        margin-right: 40px;
        border-left: 5px solid #17191c;
      }
    }
    @media screen and (max-width: 950px) {
      flex-direction: column;
    }
  }
}
