@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.header {
  @include text(16px, 1, $fontGreyColor2);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: -10px;
  padding-left: 0;
  .icon {
    color: $fontColor;
    font-size: 24px;
    margin: auto;
  }
}
