.form {
  min-width: 250px;
  background-color: #a5dafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 20px;

  .input {
    margin: 5px;
    height: 50px;
    min-width: 250px;
    border: 1px solid red;
    border-radius: 10px;
  }

  .textArea {
    margin: 5px;
    min-width: 250px;
    min-height: 150px;
    border: 1px solid red;
    border-radius: 10px;
  }

  .button {
    margin: 10px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 0 40px;
    width: auto;
    height: 50px;
    background-color: #78fd91;
    text-decoration-color: red;
    transition: background-color 0.5s ease;
    cursor: pointer;

    &:hover {
      background-color: #3ac545;
      transition: background-color 0.5s ease;
    }
  }
}




