@import "./src/Common/styles/sass/variables";

.formBlock {
  display: flex;
  flex-direction: row;
  .contacts {
    display: flex;
    padding: 30px;
    width: 300px;
    min-height: 300px;
    background: $linearGradient_1;
    box-shadow: $boxShadow_1;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: 0.2s all ease-in-out;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px 20px;
    .imageBlock {
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
      .image {
        width: 100%;
        height: auto;
        transition: 0.5s;
      }
      .image:hover {
        transform: scale(1.2);
      }
    }
  }
  .form {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 20px;

    .input {
      margin: 10px;
      height: 55px;
      min-width: 550px;
      border: 2px solid #191b1e;
      border-radius: 6px;
      background-color: #191b1e;
      box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
      font-size: 14px;
      padding: 0 15px;
      letter-spacing: 1px;
      color: #c4cfde !important;
      &:focus {
        border-color: blue;
      }
    }

    .textArea {
      margin: 5px;
      min-width: 550px;
      min-height: 250px;
      border: 2px solid #191b1e;
      border-radius: 6px;
      background-color: #191b1e;
      box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
      font-size: 14px;
      padding: 15px;
      letter-spacing: 1px;
      color: #c4cfde !important;
    }

    .button {
      margin: 10px;
      border: 1px solid red;
      border-radius: 6px;
      padding: 0 40px;
      width: auto;
      height: 50px;
      background-color: #78fd91;
      text-decoration-color: red;
      transition: background-color 0.5s ease;
      cursor: pointer;

      &:hover {
        background-color: #3ac545;
        transition: background-color 0.5s ease;
      }
    }

  }
  .links {
    display: flex;
    flex-direction: row;
    .icon {
      color: $fontColor;
      font-size: 24px;
      margin: auto;
    }
  }

}






