@import "./src/Common/styles/sass/variables";


.header {
  height: 80px;
  background-color: rgba(33, 36, 40, 0.8705882353);
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(5px);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  z-index: 999;
  animation: headerSlideDown 0.5s ease forwards;

  .photoBlock {
    box-sizing: border-box;
    margin-left: 60px;
    width: 150px;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      img {
        width: 60px;
        border-radius: 50%;
        border: 3px solid #12b602;
        //box-shadow: 10px 10px 10px #1c1e22, -10px -10px 10px #ff005e;
        box-shadow: 0 0 0.8em 0 #0e8600;
      }
      span {
        font-size: 15px;
        font-weight: 600;
        font-family:  $montserratFontFamily;
        color: #c4cfde;
      }
    }

  }
}
