@import "./src/Common/styles/sass/variables";

.contactsBlock {
    min-height: 600px;
    background-color: $bgColor;
    .contactsContainer {
        flex-direction: column;
        justify-content: flex-start;
        .title {
            background-color: #ffadad;
        }
        .contacts {
            //border: 4px solid #0056b9;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }

}

