.work {
    width: 400px;
    background-color: #7accff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 20px;
}
.imgItem {
    height: 100%;
    width: 100%;
    background-color: #058100;

}

.imgBlock {
    background-image: url(https://kaifolog.ru/uploads/posts/2013-03/1363239425_023_2.jpg);
    background-size: cover;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: 1px solid red;
    border-radius: 10px;
    padding: 0 20px;
    width: auto;
    height: 40px;
    opacity: 30%;
    background-color: #7ce791;
    text-decoration-color: red;
    transition: opacity 0.5s ease;
    cursor: pointer;
}
.button:hover {
    opacity: 60%;
    transition: opacity 0.5s ease;
}
