@import "../../00-Common/styles/sass/variables";
@import "../../00-Common/styles/sass/mixins";

.work {
  width: 300px;
  display: flex;
  min-height: 300px;
  padding: 35px 35px 20px 35px;
  margin: 30px 20px;
  @include flex(column, flex-start, left, wrap);
  @include neumorph();


  &::before {
    @include beforeNeumorph();
  }

  &:hover::before {
    opacity: 1;
  }

  .imgBlock {
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;

    .image {
      width: 100%;
      height: auto;
      transition: 0.5s;
      scale: 1.1;
      filter: brightness(0.7);
    }

    .image:hover {
      transform: scale(1.2);
      filter: brightness(1);
    }
  }

  .projectInfo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 20px;

    .typeProject {
      @include text($montserratFontFamily, 14px, 1.0, $fontRedColor);
      letter-spacing: 1px;
    }

    .link {
      padding: 20px 0;
      text-decoration: none;
      position: relative;
      cursor: pointer;

      .projectTitle {
        @include text($montserratFontFamily, 23px, 1.2, $fontColor);
        letter-spacing: 1px;
        font-weight: 600;
        transition: 0.8s;
      }

      .arrow {
        position: absolute;
        bottom: 20px;
        opacity: 0;
        padding: 0;
        font-size: 26px;
        color: $fontRedColor;
        transition: opacity 0.5s;

      }

      &:hover {
        .projectTitle {
          color: $fontRedColor;
          transition: 0.8s;
        }

        .arrow {
          opacity: 1;
        }
      }
    }
  }
}









