.container {
    //border: 1px solid #ff4b4b;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        background: black;
        width: 800px;
        height: 1px;
        bottom: -30px;
        //выровнять по середине
        left: 50%;
        transform: translate(-50%, 50%);
    }
}

