.worksBlock {
    min-height: 100vh;
    background-color: #7cc7e7;

}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    background-color: #ffadad;
}

.works {
    border: 4px solid #0056b9;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}