.skill {
    width: 200px;
    background-color: #7accff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 5px;
}
.icon {
    height: 60px;
    width: 60px;
    background-color: #058100;

}
