@import "../00-Common/styles/sass/variables";
@import "../00-Common/styles/sass/mixins";

.contactsBlock {
  @include flex(column, center, center, "");
  min-height: 300px;
  background-color: $bgColor;
  box-sizing: border-box;
  .contactsContainer {
    @include flex(column, center, center, "");
    .contacts {
      @include flex(row, center, "", wrap);
      width: 100%;
      margin-top:  40px ;
      box-sizing: border-box;
      @media screen and (max-width: 930px) {
        flex-direction: column;
      }
    }
  }
}

