@import '../../00-Common/styles/sass/variables';
@import './src/00-Common/styles/sass/mixins';

.nav {
  padding-left: 20px;
  width: 500px;
  margin-right: 60px;
  @include flex(row, space-between, stretch, nowrap);

  .item {
    list-style-type: none;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.5s;
    display: inline-block;
    padding: 10px 5px;
    outline: none;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    @include text(14px, 1.1, $fontGreyColor2);
    &:hover {
      color: $fontRedColor;
    }
    &.active {
      color: $fontRedColor;
    }
  }
  @media screen and (max-width: 930px) {
    position: absolute;
    display: none;
  }
}
