@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";
.title {
  position: relative;
  margin: 85px 0 35px;
  padding: 5px;
  background-color: $bgColor;
  //font-family: 'Josefin Sans', sans-serif;
  //text-shadow: 1px 1px 2px #565656, 0 0 1em #006b17, 0 0 0.2em #2ee700;
  .preHeader {
    @include text (14px, 1.0, $fontRedColor);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  h2 {
    margin: 10px 0;
    font-weight: 700;
    @include text(48px, 1.2, $textColor);
    font-family: $textFontFamily;
    text-transform: capitalize;
    letter-spacing: 4px;
    text-shadow: 1px 1px 2px #565656, 0 0 1em #006b17, 0 0 0.2em #2ee700;

  }
  &::after {
    position: absolute;
    content: "";
    background: $primaryColor;
    width: 60%;
    height: 1px;
    bottom: -20px;
    //выровнять по середине
    left: 50%;
    transform: translate(-50%, 50%);
  }
}


