@import "../../00-Common/styles/sass/variables";
@import "../../00-Common/styles/sass/mixins";


.form {
  //min-width: 580px;
  width: 65%;
  flex-basis:auto;
  margin: 40px 20px;
  @include flex(column, flex-start, center, no-wrap);
  @include neumorph();
  padding: 30px;
  box-sizing: border-box;


  .input {
    outline: none;
    height: 55px;
    width: 100%;
    border: 2px solid #191b1e;
    border-radius: 6px;
    background-color: #191b1e;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    font-size: 14px;
    padding: 0 15px;
    letter-spacing: 1px;
    color: $fontGreyColor;
    margin-bottom: 15px;
    box-sizing: border-box;
    transition: 0.5s;

    &:focus {
      border: 2px solid $fontRedColor;
      transition: 0.5s;
    }

    //@media screen and (max-width: 750px) {
    //  min-width: 280px;
    //}
  }

  .textArea {
    outline: none;
    margin: 5px;
    width: 100%;
    height: 250px;
    border: 2px solid #191b1e;
    border-radius: 6px;
    background-color: #191b1e;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    font-size: 14px;
    padding: 15px;
    letter-spacing: 1px;
    color: $fontGreyColor;
    resize: none;
    transition: 0.5s;
    box-sizing: border-box;
    &:focus {
      border: 2px solid $fontRedColor;
      transition: 0.5s;
    }
    @media screen and (max-width: 750px) {
      min-width: 280px;
    }
  }
}










