@import '../00-Common/styles/sass/variables';
@import '../00-Common/styles/sass/mixins';

.worksBlock {
  min-height: 100vh;
  background-color: $bgColor;
  .worksContainer {
    flex-direction: column;
    justify-content: flex-start;
    .works {
      @include flex(row, space-evenly, '', wrap);
      margin-top: 30px;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
