@import "../../00-Common/styles/sass/variables";
@import "../../00-Common/styles/sass/mixins";


.form {
  @include flex(column, flex-start, center, no-wrap);
  @include neumorph();
  flex-grow: 1;
  min-width: 500px;;
  margin: 30px 20px;
  padding: 30px;
  box-sizing: border-box;
  @media screen and (max-width: 930px) {
    min-width: 0;
    width: 90%;
    margin: 30px auto;
  }

  .input {
    outline: none;
    height: 55px;
    width: 100%;
    border: 2px solid #191b1e;
    border-radius: 6px;
    background-color: #191b1e;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    font-size: 14px;
    padding: 0 15px;
    letter-spacing: 1px;
    color: $fontGreyColor;
    margin-bottom: 0;
    box-sizing: border-box;
    transition: 0.5s;

    &:focus {
      border: 2px solid $fontRedColor;
      transition: 0.5s;
    }
  }

  span {
    height: 15px;
    margin: 0 0 10px;
    display: block;
    font-size: 15px;
    color: $fontRedColor;

  }


  .textArea {
    outline: none;
    margin: 5px;
    width: 100%;
    height: 280px;
    border: 2px solid #191b1e;
    border-radius: 6px;
    background-color: #191b1e;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    font-size: 14px;
    padding: 15px;
    letter-spacing: 1px;
    color: $fontGreyColor;
    resize: none;
    transition: 0.5s;
    box-sizing: border-box;
    line-height: 1.5;

    &:focus {
      border: 2px solid $fontRedColor;
      transition: 0.5s;
    }

    @media screen and (max-width: 750px) {
      min-width: 220px;
    }
  }

  //Button {
  //  &::before {
  //    @include beforeNeumorph();
  //    opacity: 1;
  //    border-radius: 10px;
  //  }
  //}
}










