@import "../../00-Common/styles/sass/variables";
@import "../../00-Common/styles/sass/mixins";


.treeBlock {
  @include flex(column, space-around, left, no-wrap);
  @include neumorph();

  position: relative;
  margin-left: 40px;
  padding: 35px 30px;
  color: $fontColor;
  z-index: 1;
  @media screen and (max-width: 750px) {

    min-width: 74%;

  }
  &::before {
    @include beforeNeumorph();
  }
  &:hover::before {
    box-sizing: border-box;
    opacity: 1;
  }
  .inner {
    position: relative;
    .innerInfo {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (max-width: 750px) {
        flex-direction: column-reverse;
      }
      .info {
        margin-bottom: 40px;
        h3 {
          margin-top: 0;
          @include  text(24px, 1.3, $fontColor);
        }
      }
      .rate {
        @include neumorph();
        @include  text(16px, 1.1, $fontRedColor);
        white-space: nowrap;
        border-radius: 5px;
        align-self: start;
        padding: 7px;
        margin: 15px 0;
        font-weight: 600;
        &::before {
          @include beforeNeumorph();
        }
      }
      &::after {
        position: absolute;
        content: "";
        background: $borderResume;
        width: 100%;
        height: 1px;
        bottom: 20px;
        //выровнять по середине
        left: 50%;
        transform: translate(-50%, 50%);
      }
    }
    .description {
      @include text(17px, 1.3, $fontGreyColor);
      margin: 0;
      text-align: justify;
    }

    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 5px;
      left: -70px;
      top: 40px;
      transform: translateY(-7px);
      background: $borderResume;
      z-index: 0;
    }
    &::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      border: 5px solid $borderResume;
      border-radius: 100%;
      left: -82px;
      top: 33px;
      transform: translateY(-7px);
      background: $bgColor;
      transition: 0.5s;

    }
    &:hover:after {
      background: $fontRedColor;
      transition: 0.5s;
    }
  }
}