@import "./src/Common/styles/sass/variables";
@import "./src/Common/styles/sass/mixins";

.skillsBlock {
  min-height: 100vh;
  background-color: $bgColor;
  padding: 0;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    .preHeader {
      @include text ($montserratFontFamily, 14px, 1.0, $fontRedColor);
      letter-spacing: 1px;
    }

    .title {
      background-color: #ffadad;
    }

    .skills {
      //border: 4px solid #0056b9;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .icon {
        font-size: 40px;
        color: $fontRedColor;
      }
    }
  }
}


