@import "./src/Common/styles/sass/variables";
@import "./src/Common/styles/sass/mixins";

.mainBlock {
  height: 100vh;
  background-color: $bgColor;
  padding: 0;

  .photo {
    width: 400px;
    height: 500px;
    margin-bottom: 0;
    background-color: #1d2023;
  }
  @media screen and (max-width: 754px) {
    .text {
      text-align: center;
      margin: auto;
      p {
        @include text($titleFontFamily, 26px, 1.3, $fontColor);
      }
    }
    .photo {
      margin: auto;
    }
    .mainBlock {
      height: 80vh;
    }
  }
}



