@import "./src/Common/styles/sass/variables";

.mainBlock {
  height: 100vh;
  background-color: $bgColor;
  .text {
    width: 300px;
    background-color: #c8ffff;
  }
  .photo {
    width: 300px;
    height: 400px;
    background-color: #c8ffff;
  }
  @media screen and (max-width: 754px) {
    .text {
      text-align: center;
      margin: auto;
    }
    .photo {
      margin: auto;
    }
    .mainBlock {
      height: 80vh;
    }
  }
}



