
.mainBlock {
    height: 100vh;
    background-color: #7cc7e7;
}



.text {
    width: 300px;
    background-color: #c8ffff;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #c8ffff;
}
