@import '../../00-Common/styles/sass/variables';
@import '../../00-Common/styles/sass/mixins';

.navBlock {
  @include flex(row, space-around, left, no-wrap);
  @include neumorph();
  min-height: 80px;
  padding: 0;
  margin: 30px 0;
  cursor: pointer;
  list-style-type: none;
  .navItem {
    @include flex(column, center, center, '');
    flex-basis: 25%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    transition: 0.3s;
    outline: none;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    .link {
      @include flex(row, center, center, no-wrap);
      @include text(14px, 1.1, $fontColor);
      white-space: nowrap;
      width: 100%;
      height: 80px;
      text-decoration: none;
      transition: 0.8s;
      &:hover {
        color: $fontRedColor;
      }
    }
    &:hover {
      @include neumorph();
      transform: translateY(-2px);
    }
  }
  @media screen and (max-width: 750px) {
    flex-direction: column;
    min-width: 90%;
    margin: 30px auto;
  }
}
