@import "../00-Common/styles/sass/variables";
@import "../00-Common/styles/sass/mixins";

.contactsBlock {

  background-color: $bgColor;
  .contactsContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contacts {
      margin-top:  40px ;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
}

