@import "../00-Common/styles/sass/variables";
@import "../00-Common/styles/sass/mixins";

.contactsBlock {
  background-color: $bgColor;
  .contactsContainer {
    display: flex;
    flex-direction: column;

    .contacts {
      width: 90%;
      margin-top:  40px ;
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 930px) {
        flex-direction: column;
      }

    }
  }
}

