@import '../00-Common/styles/sass/variables';
@import '../00-Common/styles/sass/mixins';

.skillsBlock {
  min-height: 100vh;
  background-color: $bgColor;
  .skillsContainer {
    @include flex(column, flex-start, center, nowrap);
    .skills {
      @include flex(row, space-evenly, '', wrap);
      margin: 30px 0;
      width: 100%;
      box-sizing: border-box;
      .icon {
        font-size: 40px;
        color: $fontRedColor;
      }
    }
  }
}
