@import "../00-Common/styles/sass/variables";
@import "../00-Common/styles/sass/mixins";

.mainBlock {
  min-height: 100vh;
  background-color: $bgColor;

  .mainContainer {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: center;
    @media screen and (max-width: 930px){
      flex-direction: column;
    }
    .photo {
      order: 1;
      margin-top: 100px;
      width: 400px;
      height: 500px;

      background-color: #1d2023;
      @media screen and (max-width: 930px){
        margin-top: 100px;
        width: 360px;
        height: 400px;
      }
    }
    .aboutMe{
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
    }
  }
}



