@import "../00-Common/styles/sass/variables";
@import "../00-Common/styles/sass/mixins";

.mainBlock {
  min-height: 100vh;
  background-color: $bgColor;

  .mainContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 930px){
      flex-direction: column-reverse;
    }
    .photo {
      margin-top: 100px;
      width: 400px;
      height: 500px;

      background-color: #1d2023;
      @media screen and (max-width: 930px){
        margin-top: 100px;
        width: 360px;
        height: 400px;
      }
    }
  }
}



