@import "../../00-Common/styles/sass/variables";
@import "../../00-Common/styles/sass/mixins";

.education {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 40px ;
    .columnTree {
      padding: 0;
      .Tree {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
        flex-basis: 50%;
        margin-right: 40px;
        border-left: 5px solid #17191c;
        .treeBlock {
          width: 80%;
          position: relative;
          z-index: 1;
          margin-left: 40px;
          //margin-top: 30px;
          padding: 35px 30px;
          @include flex(column, space-around, left, no-wrap);
          @include neumorph();
          color: $fontColor;
          &::before {
            @include beforeNeumorph();
          }

          &:hover::before {
            box-sizing: border-box;
            opacity: 1;
          }
          .inner {
            position: relative;
            &::before {
              position: absolute;
              content: "";
              width: 40px;
              height: 5px;
              left: -70px;
              top: 63px;
              transform: translateY(-7px);
              background: #1b1c1d;
              z-index: 0;
            }
            &::after {
              position: absolute;
              content: "";
              width: 10px;
              height: 10px;
              border: 5px solid #17191c;
              border-radius: 100%;
              left: -82px;
              top: 55px;
              transform: translateY(-7px);
              background: #222529;
              transition: 0.5s;

            }
            &:hover:after {
              background: $fontRedColor;
              transition: 0.5s;
            }
          }
        }
      }
    }

  }

}

