@import '../../00-Common/styles/sass/variables';
@import '../../00-Common/styles/sass/mixins';

.mainSkill {
  @include flex(column, '', '', '');
  .content {
    @include flex(row, space-evenly, '', '');
    width: 100%;
    padding-bottom: 40px;
    .columnTree {
      width: 100%;
      padding: 0;
      .tree {
        @include flex(column, space-between, '', wrap);
        gap: 40px;
        margin-right: 40px;
        border-left: 5px solid #17191c;
      }
    }
    @media screen and (max-width: 950px) {
      flex-direction: column;
    }
  }
}
