@import "../../00-Common/styles/sass/variables";
@import "../../00-Common/styles/sass/mixins";

.text {
  margin-top: 100px;
  padding: 20px;
  width: 600px;
  color: $fontColor;
  .welcome {
    letter-spacing: 5px;
  }
  .myName {
    @include text($montserratFontFamily, 62px, 1.0, $fontWhiteColor);
    .spanName {
      color: $fontRedColor;
    }
    .spanProf {
      font-size: 48px;
    }
  }
  p {
    @include text($montserratFontFamily, 16px, 1.8, $fontColor);
    text-align: justify;
  }
  @media screen and (max-width: 930px) {
    border: 2px solid red;
    width: 340px;
    .myName {
      font-size: 52px;
      .spanName {
        color: $fontRedColor;
        font-size: 42px;
      }
      .spanProf {
        font-size: 28px;
      }
    }
  }
}