@import "../../00-Common/styles/sass/variables";
@import "../../00-Common/styles/sass/mixins";

.text {
  width: 600px;
  color: $fontColor;
  .welcome {
    letter-spacing: 5px;
  }
  .myName {
    @include text($montserratFontFamily, 62px, 1.0, $fontWhiteColor);
    .spanName {
      color: $fontRedColor;
    }
    .spanProf {
      font-size: 48px;
    }
  }
  p {
    @include text($montserratFontFamily, 18px, 1.8, $fontColor);
    text-align: justify;
  }
  @media screen and (max-width: 750px) {
    width: 350px;
  }
}