@import "../../00-Common/styles/sass/variables";
@import "../../00-Common/styles/sass/mixins";


.navBlock {
  height: 80px;
  //width: 95%;
  padding: 0;
  margin: 30px 0;
  @include flex(row, space-around, left, no-wrap);
  @include neumorph();
  cursor: pointer;
  list-style-type: none;

  .navItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    height: 100%;
    list-style-type: none;
    cursor: pointer;
    margin: 0;
    transition: 0.3s;
    outline: none;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;

    .link {
      @include text($montserratFontFamily, 13px, 1.1, $fontColor);
      padding: 30px 50px;
      box-sizing: initial;
      text-decoration: none;
      &:hover {
        color: $fontRedColor;
      }
    }
    &:hover {
      @include neumorph();

    }
    &.active {
      @include neumorph();
      color: $fontWhiteColor;
    }
  }
}





