@import "./00-Common/styles/sass/variables";
@import "./00-Common/styles/sass/mixins";

.App {
  font-family: "Montserrat", sans-serif;

  .relative {
    position: relative;
    width: 0;
    height: 0;
    cursor: pointer;
    .backToTop {
      z-index: 5;
      bottom: 40px;
      left: 40px;
      height: 50px;
      width: 50px;
      background-color: #1e2024;
      @include neumorph();
      border-radius: 50%;
      position: fixed;
      vertical-align: auto;
      align-items: center;
      justify-content: center;
      color: $fontRedColor;
      display: flex;
      text-align: center;
      font-size: 24px;

    }
    &.active {
      display: none;
    }
  }

}

