@import "../../00-Common/styles/sass/variables";
@import "./src/00-Common/styles/sass/mixins";

.nav {
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
  left: 0;
  top: 95px;
  width: 70%;
  height: 100vh;
  @include flex(column, flex-start, flex-start, nowrap);
  background-color: rgba(33, 36, 40, 0.9);
  //background-color: rgba(25, 27, 30, 0.85);
  backdrop-filter: blur(5px);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  z-index: 10;
  animation: moveLeft 0.4s;
  @keyframes moveLeft {
    0% {left: -70%; }
    100% {left: 0; }
  }

  .text {
    @include  text($montserratFontFamily, 16px, 1.5, $fontGreyColor);
    letter-spacing: 1px;
    text-align: justify;
    transition: all 5s ease;
  }

  .item {
    list-style-type: none;
    cursor: pointer;
    margin: 0 14px;
    transition: 0.3s;
    display: inline-block;
    padding: 0.5rem 1rem;
    outline: none;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    @include text($montserratFontFamily, 13px, 1.1, $fontColor);
    &:hover {
      color: $fontRedColor;
    }
    &.active {
      color: $fontWhiteColor;
    }
  }
}
