@import "../../00-Common/styles/sass/variables";
@import "./src/00-Common/styles/sass/mixins";

.nav {
  width: 100px;
  margin-right: 60px;
  @include flex(column, space-between, stretch, nowrap);

  .item {
    list-style-type: none;
    cursor: pointer;
    margin: 0 14px;
    transition: 0.3s;
    display: inline-block;
    padding: 0.5rem 1rem;
    outline: none;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    @include text($montserratFontFamily, 13px, 1.1, $fontColor);
    &:hover {
      color: $fontRedColor;
    }
    &.active {
      color: $fontWhiteColor;
    }
  }
  @media screen and (min-width: 750px){
    display: none;
  }
}
