@import "../../../styles/sass/variables";
@import "../../../styles/sass/mixins";


.container {
  @include flex(column, start, center, nowrap);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 10;
  //min-height: 100vh;
  .overlay {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #1e2024;*/
    background-color: rgba(30, 32, 36, 1);
    z-index: 2;
    cursor: pointer;
  }
  .content {
    margin: 100px;
    z-index: 3;
    width: 60%;
    background: $linearGradient_1;
    box-shadow: $boxShadow_1;
    border-radius: 10px;
    padding: 45px;
    @media screen and (max-width: 1050px){
      width: 80%;
    }

  }
}




