@import "./variables";
@mixin text($fontFamily, $fontSize, $lineHeight, $color) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}

@mixin container() {
  width: 80%;
  margin: 0 auto;
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}

@mixin neumorph() {
  position: relative;
  background: $linearGradient_1;
  box-shadow: $boxShadow_1;
  border-radius: 10px;
  transition: 0.2s all ease-in-out;
  z-index: 1;
}
@mixin beforeNeumorph() {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: $linearGradient_2;
  opacity: 0;
  transition: opacity 0.2s linear;
  z-index: -1;
}