$textColor: #fff;
$primaryColor: #0b6c00;

$bgColor: #1f1f20;
$bgSecondColor: #252527;

$fontTitleColor: #0b7300;
$fontColor: #bdccbd;

$titleFontFamily: 'Josefin Sans', 'sans-serif';
$textFontFamily: 'Poppins', 'sans-serif';
$matrixFontFamily: 'Matrix', 'sans-serif'