$textColor: #fff;
$primaryColor: #0b6c00;

$bgColor: #212428;
$bgSecondColor: #252527;

//$fontTitleColor: #0b7300;
$fontTitleColor: #00ff2d;
$fontColor: #c4cfde;

$titleFontFamily: 'Josefin Sans', 'sans-serif';
$textFontFamily: 'Poppins', 'sans-serif';
$matrixFontFamily: 'Matrix', 'sans-serif'