@import "../../00-Common/styles/sass/variables";
@import "../../00-Common/styles/sass/mixins";

.skill {
  width: 300px;
  min-height: 150px;
  padding: 35px 35px 35px 35px;
  margin: 30px 20px;
  @include flex(column, flex-start, left, wrap);
  @include neumorph();
  cursor: pointer;

  .icon {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: left;
    align-items: center;
  }


  .description {
    @include text($textFontFamily, 18px, 1.5, $fontColor);
    text-align: justify;
  }
  h3 {
    @include text($textFontFamily, 14px, 1.5, $fontColor);
  }

  .arrow {
    opacity: 0;
    padding-top: 20px;
    font-size: 40px;
    color: $fontRedColor;
    transition: opacity 0.5s;
  }

  &::before {
    @include beforeNeumorph();
  }

  &:hover {
    padding: 25px 35px 45px 35px;
    .arrow {
      opacity: 1;
    }
    &::before {
      opacity: 1;
    }
  }
}

