@import "./src/Common/styles/sass/variables";

.remoteBlock {
  min-height: 300px;
  background-color: $bgColor;
  display: flex;
  justify-content: center;
  align-items: center;

  .remoteContainer {
    flex-direction: column;
    justify-content: center;

    .title {
      text-align: center;
      background-color: #ffadad;
    }

    .button {
      border: 1px solid red;
      border-radius: 10px;
      padding: 0 20px;
      width: auto;
      height: 50px;
      font-size: 24px;
      background-color: #2aa1ff;
      text-decoration-color: red;
      transition: background-color 0.5s ease;
      cursor: pointer;

      &:hover {
        transition: background-color 0.5s ease;
        background-color: #acc4ff;
      }
    }
  }
}

