@import "../00-Common/styles/sass/variables";

.skillsBlock {
  min-height: 100vh;
  background-color: $bgColor;
  padding: 0;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .title {
      background-color: #ffadad;
    }

    .skills {
      //border: 4px solid #0056b9;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 30px 0;
      .icon {
        font-size: 40px;
        color: $fontRedColor;
      }
    }
  }
}


