@import "../00-Common/styles/sass/variables";

.resumeBlock {
  min-height: 100vh;
  background-color: $bgColor;
  padding: 0;

  .resumeContainer {
    display: flex;
    flex-direction: column;
    .contentContainer {

      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: inherit;
      .contentBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}


