.footerBlock {
  min-height: 300px;
  background-color: #7ce791;
  display: flex;
  justify-content: center;
  align-items: center;
  .footerContainer {
    flex-direction: column;
    justify-content: center;
    .title {
      text-align: center;
      background-color: #ffadad;
    }
    .social {
      width: 300px;
      height: 50px;
      border: 1px solid #0040e3;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

