@import '../../../00-Common/styles/sass/variables';
@import '../../../00-Common/styles/sass/mixins';

.skillBar {
  padding: 5px 0;
  .header {
    @include text(13px, 1.1, $fontColor);
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .progress {
    border-radius: 5px;
    padding: 2px;
    margin: 15px 0;
    height: 6px;
    width: 90%;
    background-color: #1a1a1a;
    vertical-align: center;

    .progressBar {
      width: 20%;
      border-radius: 3px;
      height: 6px;
      position: relative;
      background: rgb(106, 103, 206);
      background: linear-gradient(90deg, rgba(106, 103, 206, 1) 0%, rgba(252, 99, 107, 1) 100%);
      transition: width 1s;
      animation-name: increase;
      animation-duration: 5s;

      .percent {
        bottom: 20px;
        right: 10px;
        position: absolute;
        @include text(14px, 1.1, $fontColor);
        letter-spacing: 2px;
      }
    }
  }
}
