@import "../00-Common/styles/sass/variables";
@import "../00-Common/styles/sass/mixins";

.footerBlock {
  @include flex(column, center, center, "");
  min-height: 300px;
  background-color: $bgColor;
  box-sizing: border-box;
  .footerContainer {
    padding: 50px 0 80px;
    @include flex(column, center, "", "");
    .title {
      @include text(28px, 1, $fontColor)
    }
    .social {
      @include flex(row, space-evenly, center, wrap);
      min-width: 300px;
      height: 50px;
      a {
        @include text(17px, 1, $fontGreyColor2);
        position: relative;
        text-decoration: none;
        @include linkUnderline();
      }
    }
    .rights {
      @include text(17px, 1.5, $fontGreyColor);
      text-align: center;
      margin: 0 20px;
      a {
        text-decoration: none;
        color: $fontGreyColor2;
        @include linkUnderline();
      }
    }
  }
}

