@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.link {
  border: none;
  margin: 20px 0;
  width: 100%;
  height: 60px;
  font-size: 18px;
  letter-spacing: 2px;
  @include text(14px, 1, $fontGreyColor2);
  text-transform: uppercase;
  @include neumorph();
  cursor: pointer;

  &::before {
    @include beforeNeumorph();
    opacity: 1;
    border-radius: 50%;
  }

  &:hover {
    transform: translateY(-3px);
    color: $fontRedColor;

  }
  &:active {
    &::before {
      opacity: 0;
      transition: 0s;
    }
  }

}