@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.button {
  @include flex(row, center, center, nowrap);
  border: none;
  margin: 20px 0;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 18px;
  letter-spacing: 2px;
  @include text(14px, 1, $fontGreyColor2);
  text-transform: uppercase;
  @include neumorph();
  cursor: pointer;

  &::before {
    @include beforeNeumorph();
    opacity: 1;
  }

  &:hover {
    transform: translateY(-3px);
    color: $fontRedColor;
  }
  &:active {
    &::before {
      opacity: 0;
      transition: 0s;
    }
  }
  &:disabled {
    transition: 0.5s;
    cursor: default;
    color: $fontGreyColor;
    &:hover {
      transform: translateY(0);
    }
    &::before {
      opacity: 0;
      transition: 0.5s;
    }
  }
}
.round {
  border-radius: 50%;
  &::before {
    border-radius: 50%;
  }
}
